.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  opacity: 0.5;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border-radius: 4px;
  min-width: 500px;
  min-height: 400px;
  background: #fff;
  padding: 20px;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;

    img {
      width: 24px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
}
